<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- SANDBOX-->
    <!--add key="DevID" value="3f4f996f-11f6-4a4a-98cf-a415eea79249" />
		<add key="AppID" value="SUMCompu-50ef-4554-b9cb-d70ec0c3c356" />
		<add key="CertID" value="c3a91f98-2d4d-4a94-a16c-44a9e168e937" /-->
    <!-- PROD-->
    <add key="DevID" value="3f4f996f-11f6-4a4a-98cf-a415eea79249" />
    <add key="AppID" value="SUMCompu-9586-4baf-a988-cde133ba9c2e" />
    <add key="CertID" value="f17cb852-3823-49a0-8cf8-082872efbb7e" />
    <!--add key="ServerUrl" value="https://api.sandbox.ebay.com/wsapi" /-->
    <add key="ServerUrl" value="https://api.ebay.com/wsapi" />
    <!-- For Production set the ServerURL value to https://api.ebay.com/wsapi-->
    <!-- SANDBOX-->
    <!--add key="UserToken" value="AgAAAA**AQAAAA**aAAAAA**7t+zRw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4CpAZWKpgqdj6x9nY+seQ**o90AAA**AAMAAA**Ai5zBYpFvdDy8xjNr0EvH3mpnISJEcmP1JjmGe6q4dCLJl5UrXYjN2OlwGSzF0cpTuk56wwnXxHT/ZwyXiIQgYZgHpool64Xm+hdBXrvnAhl6Kq87yvDzF+xOaX0lBlzZrQuNoe1Ntmm6fQZFHynSJtuST0V6YFKUp9MnGX+9HlOBVKYkd4Iqw3IE+fgK8NcgHgVTtzJZEkEf3yvBsEn+t4RDGDTB+HH14lFGZFVH23DtckpEZS9BoNaMSjuChlah1fze29ZbgfP57gY3Q76REMbhZWHkt7tObaIK2xQ8Erm6Lx0/yppteRiH0pPSJslQPyJamx8kpcrQ+yr417ZGkbUd0SIyPmHmqVgrsVnfC2cEsFsuJ2jdByU/rIiY+CmjrrR9kPDcnvUk50xdNJpI5I1OYbYTTSRAQF59D2RXUxRGTji+I8IUtZVjcxsP6D/TtW/5lc5bOVEM7Ac/qTUIaq6mfit0gj3w7OtJcB6qOiHfEeS+n7YVEOFpZbQDYtIEhfhk/u5/+4pvZZMs9F1gfR2kAjAeEcl8bzbfDCxXn4Lxhnp+42n/ydP9lh5iQZIGFsVhsi38LgDEKLEOj4HU3YSki3MsGnf2//ZhI46NoEivlTTBE69mtXZu/W6U9I4cjR88VuqEjhhaI8meafn4hLdGX5SEBZXKDOR6hCe4U8bng3gI/HqtLCaMWm3XRIA+IoINBuCfN6/YkVY/6IzNUb24IEHZfAKhRZzyZrJgNf4CslRbRuCZmbjKZlUvD15" /-->
    <!-- PROD-->
    <!--add key="UserToken" value="AgAAAA**AQAAAA**aAAAAA**2/mNSA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wJnY+sAZGLpA2dj6x9nY+seQ**kXYAAA**AAMAAA**kouf0c9+9JpSGn+fJ4To3l7xfBFaETaUDhukCTmdnPsIpT0xTQ+GuoXa0Mz1DPiyGJwL0jPlpZwQjMmAPCuxB+SItSFnHCbt91rEkySIg5vKgHgUqd4XhcMBuF0S2jRcDznR/wM24deonkDaQz6PiswuwMev07X7za/GwlOSoCTzZyvfFKchPjf0RFk8B1mP05i076b1OoO1punG4jP2fxSTJ46r/T4OVD0XPBRmzl9kHRdHKa41FwmZgzYZVCl0he4t/009k1/YSRSsFa6Ex2Sa+H0ppWpP+NEqSh4D7n9DmtLApXcN7ddNGiDYCs2ie5g1mBMrrStOH4tir54gjfDOYIYWWKeScifxo3r4IVYG5NRgGg1GSAiMsfxDI0Zeb7nkie/W7WQuHZu8e6Kj3B4QksG2JlzYlj0n20wRL0zk4YtensRu+E/gpWoZratMwhP3etZ+gp4mYq84WjJB8L0Pn+6KDHzmXUA6+6mduGo+/zWOdXmfLo9mSApkGjiSxR7JAJEXc0AO3iCIbKA8vZ6Q9QJpIrYwibKF7LnmYlVD16sHTcVpSFzaORrbi+8WFZJ6GjE0vOoHW3K3nwG5D20g5FPuotKm1GHT16clq9fbTeofaFgWeuCch7XvW5Jhm4ukzAijGem5J38rBNvswzHNpcTH0+E7Qe5gUCTGlipFKflGUMgqCuFD1/pQ5dd9kFcM4kVwR7Y1MEM+gaCUfYmbnCFACqLEdSjzsUHhDMdmYi3UV4wY2b8SqvrJNUYf" /-->
    <add key="UserToken" value="AgAAAA**AQAAAA**aAAAAA**KpZpXQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wJnY+sAZGLpA2dj6x9nY+seQ**IggBAA**AAMAAA**zihSQ6cXzckwsCdC2RTXw1u8GLKiiwiptXstUbpecajaU+3CkLgtVwEHvNcuwhFOX/dm0CWI/eNdT4uXlxfDB6lUnLEhsohwVBirtPVAIsiGvVkFgXggqF2dPfZgcMuY2i7Tf7ENCLF9SBAg9u4MgFhwnKVTx3RAPQXEZbXrBBPJwo6H9R6146SkjDB64NbHaeuiIaCcBSeXqgcuIHx4NMkcF6+LAqiM5rdRMijkW9X+GKyRuROyT4SxmaHEOTy5jYXgpkZqYIwibuDlde7tdEnGncM3AIBtqmd/fTiRe4MtBdKP5+mE0EuYZA/DfM6hcuGri/Nt1FaS4UYGbrNSTb/82iM+L6c3m/LwOMNrJuFGa0xYPFk0taEt9Vg0DCU8JtbvaT9jdMk5DwTo0PVXlrUWhESn/IM7joQme4u9RTwgnuvSOi5tN/LY1ztMTyOcIu7U/qGRsL/S2osI0U2pKuuHYSYoQMsHvr3huMbgN2/YqhNqCvco8HphlZxS4htxzE08IMcftTO3hd7MPYri+FO+UAcUXR6UdC/b+Y5kl+2+CXdzYrDSjQSmZzpSjLieIb9uQ/0X1tgWOAzjODkbXWAIQWS8B+sVGBn/hfalYx2z9VCEFW1wA97qEJ43HEwbgSxtNGXs62sv1z+EthIJSF0lga+kFdIMtqd+XCWYqXd7nyVcQLNTscoePZDRnpGYQCBbrUYx1vR6ti/gEZll+qz9Ev+TLCBpRdLV4ofU0VYL4Q+pOfcI4ShiZDd0gNkC" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eBayAPISoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="eBayAPISoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.ebay.com/wsapi" binding="basicHttpBinding" bindingConfiguration="eBayAPISoapBinding" contract="ServiceReference1.eBayAPIInterface" name="eBayAPI" />
    </client>
  </system.serviceModel>
</configuration>